LANGBAI_TTS_PORT=18765
LANGBAI_TTS_DATA=C:\AI\langbai-TTS-Studio\data
LANGBAI_INSTALL_ROOT=C:\AI\langbai-TTS-Studio\engines
LANGBAI_BACKEND_ROOT=C:\AI\langbai-TTS-Studio\backend

LANGBAI_INDEXTTS2_PROJECT=C:\AI\IndexTTS2
LANGBAI_INDEXTTS2_PYTHON=C:\AI\IndexTTS2\.venv\Scripts\python.exe

LANGBAI_VOXCPM_PROJECT=C:\AI\VoxCPM
LANGBAI_VOXCPM_PYTHON=C:\AI\VoxCPM\voxcpm_env\Scripts\python.exe

LANGBAI_GPT_SOVITS_PROJECT=C:\AI\GPT-SoVITS
LANGBAI_GPT_SOVITS_PYTHON=C:\AI\GPT-SoVITS-Runtime\runtime\python.exe
LANGBAI_GPT_SOVITS_RUNTIME_ROOT=C:\AI\GPT-SoVITS-Runtime
